.aboutme {
    margin: 20px;
}
.aboutme h2 {
    margin-bottom: 30px;
}

.aboutme-img {
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
    width: 100%;
}

.highlight-link {
  color: var(--text-color);
  font-weight: bold;
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(90deg, var(--primary-color), var(--bg-color));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.4s ease;
}

.highlight-link:hover {
  color: var(--primary-color);
  background-size: 100% 2px;
}


