.book-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.book-item {
    position: relative;
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 10px;
    transition: 0.3s ease;
    width: 100%;
    max-width: 300px; /* Adjust width as needed */
    height: 400px; /* Set a fixed height */
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.book-item img {
    max-width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
}

.book-item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.book-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

.book-content p {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.book-item:hover .book-content {
    opacity: 1;
}

.book-details {
    text-align: center;
    max-width: 300px; /* Match the width of the book item */
    margin-top: 10px;
}

.book-description {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

/* Button styles */
.ac_btn {
    padding: 4px 19px;
    color: var(--secondary-color);
    position: relative;
    border: var(--secondary-color) 2px solid;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.ac_btn:hover {
    box-shadow: 8px 8px 0px var(--text-color), -8px -8px 0px var(--text-color);
}

.ac_btn .ring {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    transform: translate3d(0px, 90px, 0px);
}

.ac_btn .one {
    background-color: #000;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -3;
}

.ac_btn .two {
    background-color: var(--primary-color);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -3;
}

.ac_btn .three {
    background-color: var(--secondary-color);
    transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -2;
}
