.book-section {
  margin-bottom: 20px;
}

.book-item {
  position: relative;
  background: transparent;
  padding: 10px;
  transition: 0.3s ease;
  width: 100%;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.book-item img {
  max-width: 100%;
  transition: 0.3s ease-in-out;
}

.book-item:hover {
  max-width: 350px;
}

.book-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-sizing: border-box;
  padding: 10px;
  font-family: Marcellus;
}

.book-content p {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.book-item:hover .book-content {
  opacity: 0.9;
  background-color: #c27694;
  box-shadow: 1px 1px 10px var(--bg-color);
}

.book-details {
  text-align: center;
  max-width: 350px;
  margin-top: 10px;
}

.book-description {
  font-size: 14px;
  line-height: 1.4;
}

/* Button styles */
.book-btn {
  padding: 4px 19px;
  color: var(--secondary-color);
  position: relative;
  border: var(--secondary-color) 2px solid;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  border-radius: 5px;
  margin-top: 35px;
}

.book-btn:hover {
  box-shadow: 8px 8px 0px var(--text-color), -8px -8px 0px var(--text-color);
}

.book-btn .ring {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  transform: translate3d(0px, 90px, 0px);
}

.book-btn .one {
  background-color: #000;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -3;
}

.book-btn .two {
  background-color: var(--primary-color);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -3;
}

.book-btn .three {
  background-color: var(--secondary-color);
  transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -2;
}

@media (max-width: 768px) {
  .intro_btn-action {
    display: flex;
    justify-content: center;
  }

  .btn {
    text-decoration: none;
    width: 40%;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .book-btn,
  .book-btn a {
    text-decoration: none !important;
    display: block;
  }
}
