.book-detail-page {
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
  color: var(--text-color);
  animation: fadeIn 0.6s ease-in-out;
}

.book-detail-page h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary-color);
}

.book-detail-page img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto 30px auto;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.book-detail-page img:hover {
  transform: scale(1.03);
}

.book-detail-page p {
  font-size: 1rem;
  line-height: 1.6;
  white-space: pre-line;
  margin-bottom: 40px;
  padding: 0 10px;
  text-align: justify;
}

.book-detail-page .button-wrapper {
  display: flex;
  justify-content: center;
}